@import '_variables';

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, Arial, sans-serif;
  }

header {
  display: flex;
  align-items: center;
  height: 15%;
  position: fixed;
  background-color: white;
  width: 100%;

  #title {
    font-size: 30px;
    cursor: pointer;
  }

  div {
    margin: {
      left: 5%;
      right: 5%;
    }
  }

  nav {
    button, input {
      font-size: 22px;
    }
  }
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: {
    top: 15%;
  }

  .movie {
    width: $imageWidth;
    cursor: pointer;

    margin: {
      left: $movieSideMargin;
      right: $movieSideMargin;
      bottom: 2%;
    }

    img {
      height: $imageHeight;
      width: $imageWidth;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;

  div {
    margin: {
      left: $modalContentSideMargin;
      right: $modalContentSideMargin;
    }

    .modalPoster {
      height: 100%;
      width: 100%;
    }
  }

  .movieInformation div {
    margin: {
      bottom: 5%;
    }

    span {
      color: grey;
      font-weight: bold;
    }
  }

  .exitModal {
    justify-content: flex-end;

    .exitModalButton {
      border: none;
      font-size: $modalExitButtonSize;
      background-color: white;
      cursor: pointer;
    }
  }
}